
body{
	font-family: open sans, sans-serif;
	color: ;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}
div, p, input, button, form, span, a, ul, li{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight:900;

}
.continer{
	width: 1170px;
	margin: 0px;
}
.header{
background: rgba(78,189,254,1);
background: -moz-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
background: -webkit-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -o-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -ms-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: linear-gradient(to right, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
padding-bottom: 100.02px;
padding: 100px;
color: #fff
}
.wrapper{
	display: flex;
	justify-content: space-between;
}
.offer{
	margin-top: 140px;
	font-family: 'Montserrat', sans-serif;
    width:564px; 
}
.title{
	font-size: 30px;
}
.title span{
	font-size: 50px;
}
.intro{
	margin-bottom: 40px;
	width: 406px;

}
.btn{
	background: #ffd429;
	color: black;
	font-family: 'Montserrat', sans-serif;
    display: block;
    width: 205px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    font-weight:900;
    transition: all 0.5s ease;
}
.btn:hover{
	background:#d4ac0c;
}
.sumka{
	margin-top: 50.00px;

}
.learn{
	padding-top: 108px;
	padding-bottom: 120px;
}
.section-title{
	font-size: 30px;
    margin-bottom:70.00px;
    /*padding-left: 470px;*/
    margin-left: 470.00px;
}
.skill{
	width: 350px;
}
.skills{
	display: flex;
	justify-content: space-between;
	margin-left: 45px;
	margin-right: 45px;}

img.size{
		margin-left: 120px;
		padding-bottom: 10px;
	}
.skill-title{
	padding-bottom:20px;
	font-size: 18px;
	padding-left: 80px;
	
}
.skill-text{
	padding-left: 25px;
	}
.man{
padding-left: 60px;
}
.skill-free{
	padding-left: 40px;
}
.men{
	margin-left: 80px;
}
.mail{
	background: #ecf2f8;
	padding-top: 111px;
	padding-bottom: 100px;
}
.section-titlee{
	font-size: 30px;
	padding-left: 400px;
}
.btn-form{
	width: 340px;
	border: 0;
	cursor: pointer;
}
.form{
	margin-top: 64.01px;
	margin-left: 470.00px;
}

.input{
	display: block;
	width: 340px;
	border: #bbbbbb;
	font-size: 15px;
	font-family: open sans, sans-serif;
	height: 47px;
	padding-left: 23px;
	margin-bottom: 15px;
    }
.footer{
	padding:65px 0;
	background: #164d7a; 
}
.prava{
	font-size:14px;
	color:#ffffff;
    margin-left: 470.00px
}

